<!DOCTYPE html>
<html lang="en">

<head>
    <title>ROCKETSEAT</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div>
            <a href="index.html">Início</a>
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
        </div>
    </header>
    <main>
        <div id="header">
            <img src="https://d1fdloi71mui9q.cloudfront.net/S5pZEvhjTXyASDS2uLFl_8n4kncbIn92F5YIc" alt="Rocketseat">
            <h1>Rocketseat</h1>
            <h2>Evolua rápido como a tecnologia. Junte-se a milhares de devs e acerele na direção dos seus objetivos. Transforme sua carreira em uma jornada de evolução contínua através das melhores tecnologias e tenha acesso às melhores oportunidades em programação.</h2>
            <div class="lista">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                </ul>
            </div>
    
        </div>
        <div id="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="http://instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
            <a href="http://fb.com/rocketseat" target="_blank">Facebook</a>
        </div>
            </main>
    </body>

</html>